/* Load the extra fonts likely needed for content and controls  */
/*   The most likely candidate for content specials  */
@font-face {
  font-family: 'CelticaBook';
  src: url('../assets/fonts/Celtica-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*   A possibility for some off-beat articles, at some point   */
@font-face {
  font-family: 'Futhark';
  src: url('../assets/fonts/Futhark-Adapted.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*   The source of the icons I'm using for menus and settings   */
@font-face {
  font-family: 'SymbolaRegular';
  src: url('../assets/fonts/SymbolaRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*  Variables for consistency and simple modifications later  */
:root {
  --icon-fontFace: 'SymbolaRegular', sans-serif;
  --logo-size: 80px;
  --menu-timing: .5s;
  --radius-effect: 5px;
}

/*  Global styles and overrides */

body {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-family: sans-serif;
}
body * {
  box-sizing: border-box;
}
label {
  cursor: pointer;
}
.hidden-control {
  display: none;
}

/*      background and text colors standardized   */
.surface-page {
  background-color: var(--colors-page);
  color: var(--colors-onPage);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}
.surface-foot {
  background-color: var(--colors-foot);
  color: var(--colors-onFoot);
  box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
}
.surface-head {
  background-color: var(--colors-head);
  color: var(--colors-onHead);
  box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}
.surface-menu {
  background-color: var(--colors-menu);
  color: var(--colors-onMenu);
  box-shadow: 3px 3px 24px rgba(0,0,0,0.4);
}
.surface-ctrl {
  background-color: var(--colors-ctrl);
  color: var(--colors-onCtrl);
  box-shadow: 5px 5px 24px rgba(0,0,0,0.4);
}
.surface-primary {
  background-color: var(--colors-primary);
  color: var(--colors-onPrimary);
}
.onCtrl {
  color: var(--colors-onCtrl);
}

/*************  box formatting options   *******************/
.box-icon, .nav-icon, #settings-switch {
  display: inline-block;
  font-size: 28px;
  font-family: var(--icon-fontFace);
  text-align: center;
}
.box, .box-left, .box-right {
  border-style: solid;
  border-color: var(--colors-border);
}
.box {
  border-width: 1px;
  border-radius: var(--radius-effect);
}
.box-icon {
  width: calc(var(--logo-size) / 2);
  height: calc(var(--logo-size) / 2);
  padding: 2px;
  margin: 2px;
}
.box-left {
  border-width: 1px 1px 1px 0;
  border-top-right-radius: var(--radius-effect);
  border-bottom-right-radius: var(--radius-effect);
}
.box-none {
  border: none;
}
.box-right {
  border-width: 1px 0 1px 1px;
  border-top-left-radius: var(--radius-effect);
  border-bottom-left-radius: var(--radius-effect);
}
.center-full {
  align-self: center;
  text-align: center;
}

/*  Navigation menus and controls  */
/*    Base style for all menues  */
.side-menu {
  padding: 0;
  width: 0;
  font-size: .75rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-x: auto;
  overflow-y: auto;
  z-index: 7;
  transform-origin: 0% 5%;
  transition: width var(--menu-timing) linear,
              transform var(--menu-timing) linear;
}
.side-menu div {
  padding: 0;
  margin: 0 0 0 .5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.side-menu span {
  display: inline-block;
  border-radius: var(--radius-effect);
  padding: .5rem;
  white-space: no-warp;
}
.side-menu span.level-2 {
  padding: 1rem;
}
.surface-menu span:hover {
  background-color: rgba(255,255,255,.1);
}
.nav-box {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: flex-start;
}
.nav-box-switch {
  display: inline-block;
  padding: 0;
/*  border: 1px solid var(--colors-border); */
  transform-origin: 50% 55%;
}
.nav-icon {
  font-family: var(--icon-fontFace);
  transform: rotate(0deg);
  transition: transform var(--menu-timing) linear;
}


/*    The site nav menu  */
#site-nav {
  position: absolute;
  top: var(--logo-size);
  right: 0;
  width: auto;
  transform: perspective(250px) rotateX(270deg);
  transform-origin: 100% 5%;
  transition: transform var(--menu-timing) linear,
              background-color calc(2 * var(--menu-timing) / 3) linear calc(var(--menu-timing) / 3);
}

/*  The site navigation menu switch  */
#site-nav-icon {
  text-align: center;
  align-self: start;
}
#site-nav-switch {
  position: relative;
  top: 0;
  right: 0;
  z-index: 6;
  display: grid;
  grid-gap: 8px;
  grid-template-rows: repeat(3,5px);
  padding: 20px;
}
#site-nav-switch > span {
  background-color: var(--colors-onCtrl);
  transition: transform var(--menu-timing) linear,
              opacity calc( var(--menu-timing) / 2) linear calc( var(--menu-timing) / 2);
}
/*   Make the hamburger into an X on menu open  */
#site-nav-control:checked ~ #scheme-container #burger-top {
  transform: translateX(2.5px) translateY(13px) rotate(-315deg);
}
#site-nav-control:checked ~ #scheme-container #burger-mid {
  opacity: 0;
}
#site-nav-control:checked ~ #scheme-container #burger-base {
  transform: translateX(2.5px) translateY(-13px) rotate(315deg);
}
/*   Open the menu by flipping it down   */
#site-nav-control:checked ~ #scheme-container #site-nav {
  transform: rotateX(360deg);
  transition: transform var(--menu-timing) linear;
}
/*  Switch from a drop down menu to a menu bar for less narrow screens */
@media screen and (min-width: 40.5rem) {
  #site-nav {
    background-color: inherit;
    box-shadow: 0 0 0 rgb(0,0,0,0);
    border: none;
    position: static;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transform: none;
    transition: none;
  }
  #site-nav div {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }
  #site-nav-left {
    justify-content: flex-start;
  }
  #site-nav-right {
    justify-content: flex-end;
    flex-grow: 1;
  }
  #site-nav span {
    display: inline-block;
    margin: 0 .25rem;
  }
/*  Don't need to show the hamburger menu at all now */
  #site-nav-switch {
    display: none;
  }
}

/*    The on-page navigation   */
#page-nav {
  height: 16rem;
  transform: perspective(350px) rotateY(-90deg);
  transform-origin: 10% 50%;
}
#page-nav-switch {
  margin-top: 5px;
}
/*    reverse the display sequence so that the "handle" is on the right   */
#page-nav-box {
  left: 0;
  flex-direction: row-reverse;
}
/*    Open the menu by unfolding it from the left side   */
#page-nav-control:checked ~ #scheme-container #page-nav {
  width: 9.375rem;
  transform: rotateX(0deg);
}
/*   Rotate the handle on menu open   */
#page-nav-control:checked ~ #scheme-container #page-nav-icon {
  transform: rotate(180deg);
}

/*   The right side menu, archives, or categories, whatever   */
#archive-nav {
  height: 16rem;
  transform: perspective(350px) rotateY(90deg);
  transform-origin: 90% 50%;
}
#archive-nav-switch {
  margin-top: 5px;
  transition: margin-top var(--menu-timing) linear;
}
#archive-nav-box {
  right: 0;
  flex-direction: row;
}
/*    Open the menu by unfolding it from the right side   */
#archive-nav-control:checked ~ #scheme-container #archive-nav {
  width: 9.375rem;
  transform: rotateY(0deg);
}
/*   Rotate the handle on menu open   */
#archive-nav-control:checked ~ #scheme-container #archive-nav-icon {
  transform: rotate(-180deg);
}

/*   On very narrow pages the two handles overlap. Slide the right menu
 *   handle down to avoid a collision when both are opened.
 **/
#page-nav-control:checked ~ #archive-nav-control:checked ~ #scheme-container #archive-nav-switch {
  margin-top: 39px;
}
/*   Cancel anti-collision slide once the page is wide enough  */
@media screen and (min-width: 22rem) {
  #page-nav-control:checked ~ #archive-nav-control:checked ~ #scheme-container #archive-nav-switch {
    margin-top: 5px;
  }
}

/*   A collection of buttons and menus for controlling settings for the UI   */

/*   The ability to switch between light and dark modes   */
/*  Containers for the icons  */
#alt-mode-switch,
#main-mode-switch {
  display: none;
  text-align: center;
}
/*   When dark mode is the main mode, lite mode is the alternate, reversed if light
 *    mode is the main mode. 
 * #main-is-dark is in the main-mode control with a moon,
 *      used to turn on dark mode when that is the default
 * #alt-is-lite is in the alt-mode control with a sun,
 *      used to turn on lite mode when dark is the default
 * 
 * #main-is-lite is in the main-mode control with a sun,
 *      used to turn on lite mode when that is the default
 * #alt-is-dark is in the alt-mode control with a moon.
 *      used to turn on dark mode when lite is the default
 **/

/*   Unless requested explicitly by the browser, set dark mode as the main mode  */
@media not all and (prefers-color-scheme: light) {
  #main-is-lite,
  #alt-is-dark {
    display: none;
  }
}
/*   Only if the browser requests light mode will that be the default  */
@media (prefers-color-scheme: light) {
  #main-is-dark,
  #alt-is-lite {
    display: none;
  }
}
/*  When the main mode is on, display the icon to switch to the alternate */
#main-mode:checked ~ #scheme-container #alt-mode-switch {
  display: block;
}
/*  When the alternate mode is on, display the icon to switch to the main mode */
#alt-mode:checked ~ #scheme-container #main-mode-switch {
  display: block;
}

/*   Color scheme selection   */
/*  Scale down the icon when the scheme menu is closed */
#scheme-icon {
  display: inline-block;
  scale: 0.5;
  transform: rotate(-360deg);
  transform-origin: 53% 53%;
  transition: all var(--menu-timing) linear;
}
/*  Spin the icon and scale it up while the menu is opening  */
#scheme-control:checked ~ #scheme-container #scheme-icon {
  scale: none;
  transform: rotate(0deg);
}
/*  The menu list of available color schemes  */
#scheme-menu {
  position: absolute;
  right: calc(var(--logo-size) / 2 + 4px);
  bottom: calc(var(--logo-size) / 2 + 6px);
  display: flex;
  padding: .6rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  transform: perspective(350px) rotateY(-90deg);
  transform-origin: 95% 50%;
  transition: all var(--menu-timing) linear;
}
/*    Open the menu by flipping it out from behind the settings icons  */
#scheme-control:checked ~ #scheme-container #scheme-menu {
  transform: rotateY(0deg);
}
#scheme-menu span {
  padding: .25rem;
  margin: .25rem;
  text-align: center;
}
/*  Give the accept button more room to breathe  */
/*  Accept closes the menu, the same as the clicking the icon would  */
/*  Accept might be a bad choice of wording as the changes are instant from the menu */
#scheme-accept {
  padding: .75rem;
}
/*  Turn off all the color schemes, if possible.
 *  The .side-menu span declaration above is a better match than a plain class selector.
 *  Double class selector will have a higher match, overriding that.
 *  The color scheme specific CSS file has a selector based on id, which will be higher
 *  than even this. Placing it in the scheme file will cause any scheme in the list to
 *  not be displayed unless its matching scheme is loaded and available.
 **/
.scheme-switch.scheme-switch {
  display: none;
}


/*  The controls for increasing and decreasing the font size of the page.
 *  This will only affect the "body" of the page. Menues, controls, icons, and
 *  the page header remain fixed in their size. The menues and page title are
 *  responsive to the browser's font size, but not to these controls
 **/

/* All off by default */
.font-switch {
  display: none;
}

/* Only one step, up or down, is available at any given time. Find the one or two
 * options available, and enable it/them.
 **/
/*  Step donw by one */
#font-size-2:checked ~ #scheme-container #font-dn-1 { display: inline-block; }
#font-size-3:checked ~ #scheme-container #font-dn-2 { display: inline-block; }
#font-size-4:checked ~ #scheme-container #font-dn-3 { display: inline-block; }
#font-size-5:checked ~ #scheme-container #font-dn-4 { display: inline-block; }
#font-size-6:checked ~ #scheme-container #font-dn-5 { display: inline-block; }
#font-size-7:checked ~ #scheme-container #font-dn-6 { display: inline-block; }
/*  Step up by one */
#font-size-1:checked ~ #scheme-container #font-up-2 { display: inline-block; }
#font-size-2:checked ~ #scheme-container #font-up-3 { display: inline-block; }
#font-size-3:checked ~ #scheme-container #font-up-4 { display: inline-block; }
#font-size-4:checked ~ #scheme-container #font-up-5 { display: inline-block; }
#font-size-5:checked ~ #scheme-container #font-up-6 { display: inline-block; }
#font-size-6:checked ~ #scheme-container #font-up-7 { display: inline-block; }

/* The settings menu itself  */
#view-settings {
  position: absolute;
  bottom: calc(var(--logo-size) / 2 + 6px);
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transform: perspective(350px) rotateY(-90deg);
  transform-origin: 98% 50%;
  transition: all var(--menu-timing) linear;
}
/*   Open the menu by rotating from behind the right edge of the window   */
#settings-control:checked ~ #scheme-container #view-settings {
  transform: rotateY(0deg);
}

/*  Build the page layout   */
/*   Container for everything. Used so that the color scheme data will
 *   be available for everything on page. Also allows a control point
 *   for the font scaling and modal overlays.
 **/
#scheme-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0;
}

/*  The page header: logo, title, site menu control  */
#site-header {
  display: grid;
  grid-template-columns: var(--logo-size) 1fr var(--logo-size);
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 40.5rem) {
  #site-header {
    align-items: start;
  }
}
#site-logo {
  box-sizing: border-box;
  width: var(--logo-size);
  height: var(--logo-size);
  padding: 2px;
  align-self: start;
}
#logo-img {
  width: calc(var(--logo-size) - 4px);
  height: calc(var(--logo-size) - 4px);
  border-radius: calc(var(--logo-size) / 2);
  background-color: var(--colors-ctrl);
}
#title-bar {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 40.5rem) {
  #title-bar {
    justify-content: space-between;
  }
}
#site-header-title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 40.5rem) {
  #site-header-title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
#page-title {
  font-size: 1.25rem;
}
#page-tagline {
  font-size: 1.15rem;
}
/*  wide screen  */
@media screen and (min-width: 40.5rem) {
  #page-title {
    font-size: calc(16px * (100vw - 40.5rem)/(896 - 640));
  }
  #page-tagline {
    font-size: calc( 20px + (32 - 20) * (100vw - 40.5rem)/(896 - 640));
  }
  #page-tagline::before {
    content: '\a0\2014\a0';
  }
}
@media screen and (min-width: 56rem) {
  #page-title {
    font-size: 2rem;
  }
  #page-tagline {
    font-size: 2rem;
  }
}
#page-container {
  min-height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, auto);
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}
#hero-box {
  width: 100%;
  height: 250px;
  background-color: goldenrod;
}
#hero-box:empty {
  display:none;
}
#site-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding-right: 2px;
  width: 100%;
  height: calc(var(--logo-size) / 2 + 6px);
  display: grid;
  grid-template-columns: auto calc(var(--logo-size) / 2);
  align-content: space-between;
  align-items: center;
  z-index: 6;
}
#copyright {
  font-size: .625rem;
  padding: .3rem;
}
